/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
}

#main {
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}

/* HEADER */

header {
  text-align: center;
}

header h1 {
  color: #fec63e;
}

#img-div {
  text-align: center;
}

#img-div img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  display: grid;
  grid-template-columns: 5% 95%;
}

a {
  text-decoration: none;
  color: #fec63e;
}

a:hover {
  color: red;
}